<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AdditionalScoreMapper">

	<resultMap type="com.example.domain.AdditionalScore" id="AdditionalScoreResultMap">
		<id property="id" column="id" />
		<result property="playerId" column="player_id" />
		<result property="totalWins" column="total_wins" />
		<result property="totalLoss" column="total_loss" />
		<result property="missions" column="missions" />
	</resultMap>

	<insert id="register">
		INSERT INTO additional_scores(player_id,total_wins,total_loss,missions)VALUES(#{playerId},#{totalWins},#{totalLoss},#{missions})
	</insert>
	
	<update id="update">
		UPDATE additional_scores SET total_wins = #{totalWins},total_loss = #{totalLoss},missions = #{missions} WHERE player_id = #{playerId}
	</update>
	
	<select id="load" parameterType="int" resultMap="AdditionalScoreResultMap">
		SELECT * FROM additional_scores WHERE player_id = #{playeId}
	</select>
	
	<delete id="delete">
		DELETE FROM additional_scores WHERE player_id = #{playeId}
	</delete>
	
</mapper>