<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DoublesScoreMapper">

	<resultMap type="com.example.domain.DoublesScore" id="DoublesScoreResultMap">
		<id property="doublesScoreId" column="doubles_score_id" />
		<result property="doublesPlayerId" column="doubles_player_id" />
		<result property="opponentDoublesPlayerId" column="opponent_doubles_player_id" />
		<result property="myMatchScore" column="my_match_score" />
		<result property="opponentMatchScore" column="opponent_match_score" />
		<result property="mission" column="mission" />
		<result property="registerDate" column="register_date" />
	</resultMap>

	<insert id="registerDoublesScore">
		INSERT INTO doubles_scores(doubles_player_id,opponent_doubles_player_id,my_match_score,opponent_match_score,mission,register_date)VALUES(#{doublesPlayerId},#{opponentDoublesPlayerId},#{myMatchScore},#{opponentMatchScore},#{mission},#{registerDate})
	</insert>
	
	<select id="findByDoublesPlayerId" parameterType="int" resultMap="DoublesScoreResultMap">
		SELECT * FROM doubles_scores WHERE doubles_player_id = #{doublesPlayeId}
	</select>
	
	<select id="findAll" resultMap="DoublesScoreResultMap">
		SELECT * FROM doubles_scores
	</select>
	
	<delete id="deleteDoublesResult">
		DELETE FROM doubles_scores WHERE doubles_player_id = #{doublesPlayerId} AND opponent_doubles_player_id =#{opponentDoublesPlayerId}
	</delete>
	
	<select id="findByBothId" resultMap="DoublesScoreResultMap">
		SELECT * FROM doubles_scores WHERE doubles_player_id = #{doublesPlayerId} AND opponent_doubles_player_id =#{opponentDoublesPlayerId}
	</select>
	
	<select id="findByBothReverseId" resultMap="DoublesScoreResultMap">
		SELECT * FROM doubles_scores WHERE doubles_player_id = #{opponentDoublesPlayerId} AND opponent_doubles_player_id =#{doublesPlayerId}
	</select>
	
</mapper>