<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DoublesPlayerMapper">

	<resultMap type="com.example.domain.DoublesPlayer" id="DoublesPlayersResultMap">
		<id property="doublesPlayerId" column="doubles_player_id" />
		<result property="doublesPlayerName" column="doubles_player_name" />
<!-- 		<result property="imagePath" column="image_path" /> -->
	</resultMap>

	<select id="registerDoublesPlayer" resultType="int">
		INSERT INTO doubles_players
		(
		doubles_player_name
<!-- 		image_path -->
		)
		VALUES
		(
		#{doublesPlayerName}
<!-- 		#{imagePath} -->
		) 
		returning doubles_player_id
	</select>
	
	<select id="findAllDoublesPlayer" resultMap="DoublesPlayersResultMap">
		SELECT * FROM doubles_players
	</select>
	
	<select id="findPlayersExceptDoublesPlayerId" resultMap="DoublesPlayersResultMap" parameterType="int">
		<![CDATA[ SELECT * FROM doubles_players WHERE doubles_player_id <> #{doublesPlayerId}]]>
	</select>
	
	
	<resultMap type="com.example.domain.DoublesPlayer" id="DoublesPlayerResultMap">
		<id property="doublesPlayerId" column="d_doubles_player_id" />
		<result property="doublesPlayerName" column="doubles_player_name" />
<!-- 		<result property="imagePath" column="image_path" /> -->
		<collection property="doublesScoreList" ofType="com.example.domain.DoublesScore">
			<id property="doublesScoreId" column="doubles_score_id" />
			<result property="doublesPlayerId" column="ds_doubles_player_id" />
			<result property="opponentDoublesPlayerId" column="opponent_doubles_player_id" />
			<result property="myMatchScore" column="my_match_score" />
			<result property="opponentMatchScore" column="opponent_match_score" />
			<result property="mission" column="mission" />
			<result property="registerDate" column="register_date" />
		</collection>
	</resultMap>
	
	<select id="findAll" parameterType="int" resultMap="DoublesPlayerResultMap">
		SELECT 
		d.doubles_player_id d_doubles_player_id,
		doubles_player_name,
<!-- 		image_path, -->
		doubles_score_id,
		ds.doubles_player_id ds_doubles_player_id,
		opponent_doubles_player_id,
		my_match_score,
		opponent_match_score,
		mission,
		register_date
		FROM doubles_players AS d
		LEFT OUTER JOIN doubles_scores AS ds ON d.doubles_player_id = ds.doubles_player_id
	</select>
	
</mapper>